/*
StyleSheet
Last modified: 19/7/2021 12:32PM
@authors: Jack
*/

/*
General text modifications
*/
  
body {
    background: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
  } 
  
  h1 {
      font-size: 48px;
  }
  
  h2 {
      font-size: 36px;
      float:left;
  }
  
  h3 {
      font-size: 28px;
  }
  
  h4 {
      font-size: 24px;
  }
  
  p {
      font-size: 18px;
  }

  img {
    float:left;
  }
  
  /*
  Content mod
  */
  
  .introbox {
      background-color:#1a1a1a;
      color:white;
      padding:20px;
      margin:25px 25px 25px 25px;
  }
  
  /* 
  Footer
  */
  
  ul.footer {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 50px;
  }
  
  ul.footer li a {
    display: block;
    color: white;
    padding: 19px 10px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .rights {
    float: center;
    padding: 15px 0px;
    font-size: 15px;
  }
  
  /* 
  Table
  */
  
  table, th, td {	
    border: 1px solid purple;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: left;
  }

  /* 
  Search for table
  */
  
  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #1A1110;
  }

/* 
Button
*/

.fcc-btn {
    background-color: #541B61;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

/* 
Dropdown menu
*/

.dropbtn {
    background-color: #541B61;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #541B61;}